<div class="box">
	<%= link_to (image_tag ct.image(:medium)), ct %>
	<p class="description">
		<%= ct.description %>
	</p>
	<p>
		<strong>
			Posted by <%= ct.user.name %>
		</strong>	
	</p>	

	<% if current_user == ct.user %>
		<p>
	  		<%= link_to 'Edit', edit_ct_path(ct) %>
			<%= link_to 'Destroy', ct, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %>

</div>