<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @ct.image %>
			<p>
			  <%= @ct.description %>
			</p>
			<p>
			  <%= @ct.user.name %>
			</p>
			<% if current_user == @ct.user %>
				<%= link_to 'Edit', edit_ct_path(@ct) %> |
			<% end %>	
				<%= link_to 'Back', cts_path %>
		</div>	
	</div>	
</div>